/* .just{
    border: 2px solid red;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
body{
    background-color: #191e61;
}



.intro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  justify-content: center;
    align-items: flex-start;
    margin: 4rem;
    

}
.image-intro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* gap: px; */
    width: 100%;}

.image-intro img{
    border-radius: 500px;
    width: calc(68%);
    /* height: 231px; */
    margin: 18%;

    
}
.intro-img{
    
   display: flex;
   flex-direction: row;
   justify-content: space-around;

   

    /* display: flex;
    flex-direction: row;
    justify-content: flex-end; */
   
    /* flex-wrap: nowrap; */
    /* gap: 20px; */
   
    
}
div h1{
    
    font-weight:900 ;
    

}
div h1,h3,p{
  
    color: whitesmoke;
    font-family:poppins-reg;
    word-spacing: 2px;
    text-shadow:  2px 5px black;
    /* margin: 4% 1%; */
}
 .intro h3{
    margin: 1.5rem 0px;
}
@font-face {
    font-family: "poppins-reg";
    src: url('fonts/FontsFree-Net-Poppins-Regular.ttf');
}
.zprog{
    color: #3fbdc6;
    text-shadow: 3px 0px 3px gray;
}.parentdiv{
    display: inline-flex;
    justify-content: space-evenly;
    max-height: 500px;
}
.pai{background-color: rgb(0, 0, 0);
    border: 2px solid yellow;
    border-radius: 7.5px;
  margin: 150px 95px;
  text-align: center;
  color: white;
  width:250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;


  
  /* justify-content: center; */
}
.zedu{
    display: flex;
    justify-content: center;
background-color: rgb(255, 255, 255);
    border: 2px solid yellow;
    margin: 25px;
    color: black; 
    letter-spacing: 1px;
    padding-top: 20px;
   
}

    


.button {
     
    /* padding: 1px 20px; */
    width: 132px;
    height: 0.8cm;
    fill-opacity: 14px;
    border: 1px solid yellow;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor:  pointer;
    margin: 10px 52px;
    
   
}.button:hover{
    background-color: white;
    color: black;
    /* opacity: 0.7; */
   }
#div2{
margin-left: 100px;
}
#div3{
    margin-left: 100px;
    }
header nav ul{
    display: flex;
    background-color: #191e61;
    gap: 100px;
    height: 60px;
    align-items: center;
    justify-content: center;
   /* box-shadow:  0 2px 2px 0 rgba(0,0,0,.1); */
   box-shadow:  0 6px 6px 0 rgb(0 0 0);
    
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
aside nav ul ,header nav ul{
list-style: none;
margin: 0px;
    padding: 0px;
} 
.navitem,.vertical-bar{
    color: white;
    text-decoration: none;
}
/* #icon  {

   position: relative;
  right: 33%;
  top: 2px;
  justify-content: flex-end;
  /* width:60px;  
} */
/* #icon a img{
   
    height: 59px;
} */
nav img{
    /* position: absolute;
    top: 2px;
    left: 1px;
    height: 57px; */
border-radius: 52px;

}
/* #icon a img{
    visibility:visible ;
    opacity: 1;
}
#icon a img:hover{
    visibility:hidden ;
    opacity: 1;
} */
nav a{
    opacity: .7;
}
nav a:hover{
opacity:1;
}
button{
    font-family: poppins-reg;
    font-weight: 700;

    cursor: pointer;
    width: 178px;

padding: 15px 0px;
margin: 35px 0px;
background: white;
border: 2px solid black;
border-radius: 6px;
}
button:hover{
    box-shadow:7px 10px 7px black;
    text-shadow:0px 0px 10px black;
    
}
.whole-sec2{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    /* align-items: center; */
    
}
.sec2{
  
    /* background-color: white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 154px 0px;

    /* gap: 20px;  */
 
}
.services{
    
    border: 2px solid white;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-family: poppins-reg;
 padding: 6% 0px;
color: white;    
    background-color: rgb(30 31 38 / 31%);
width: 20%;
/* background-color: black; */
border-radius: 31px;
transition: transform .2s ease;
}
.services:hover{
    transform: scale(0.8);
    cursor: pointer;
    filter: drop-shadow(1px 4px 6px rgb(0, 0, 0))
}
.services-head{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.services img{
    width: 5rem;
    height: 5rem;
}
.services span{
    margin-top: 50%;
}
.services:nth-child(1){
    background-image: url('images/programming.png');
    background-size: 82px;
    background-repeat: no-repeat;
    background-position: 92px 81px;
    
}
.services:nth-child(1):hover{
    background-image: url('images/coding.png');
    background-size: 82px;
    background-repeat: no-repeat;
    background-position: 92px 81px;
    
}
.services:nth-child(2){
    background-image: url('images/machine-learning.png');
    background-size: 82px;
    background-repeat: no-repeat;
    background-position: 92px 81px;
    
}
.services:nth-child(2):hover{
    background-image: url('images/machine-learning\ hover.png');
    background-size: 82px;
    background-repeat: no-repeat;
    background-position: 92px 81px;
    
}.services:nth-child(3){
    background-image: url('images/program.png');
    background-size: 82px;
    background-repeat: no-repeat;
    background-position: 92px 81px;
    
}
.services:nth-child(3):hover{
    background-image: url('images/programhover.png');
    background-size: 82px;
    background-repeat: no-repeat;
    background-position: 92px 81px;
    
}.services:nth-child(4){
    background-image: url('images/candidate\ hover.png');
    background-size: 82px;
    background-repeat: no-repeat;
    background-position: 92px 81px;
    
}.services:nth-child(4):hover{
    background-image: url('images/candidate.png');
    background-size: 82px;
    background-repeat: no-repeat;
    background-position: 92px 81px;
    
}